<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<!-- 	<br /> Usuario: -->
<!-- 	<strong><span sec:authentication="name">usuario</span></strong> -->
<!-- 	<br /> Roles: -->
<!-- 	<span sec:authentication="principal.authorities">Roles</span> -->
<!-- 	<br /> -->
<!-- 	<div sec:authorize="isAuthenticated()">Autenticado!.</div> -->
<!-- 	<div sec:authorize="hasRole('ROLE_ADMIN')">Administradores!.</div> -->
<!-- 	<div sec:authorize="hasRole('ROLE_USER')">Usuarios!.</div> -->
Usuario: <strong><span sec:authentication="name">usuario</span></strong>
<div sec:authorize="isAuthenticated()"> Autenticado!</div>

<div class="row">
	<div class="col-lg-12">
    <form th:action="@{/logout}" method="post">
      	<input type="submit" value="Salir" class="btn btn-danger float-right"/>
    </form>
   </div>
</div>
<br />
<strong><h4>Informaci&oacute;n de Usuario</h2></strong>
Roles: <span sec:authentication="principal.authorities"></span>
<br />

<div sec:authorize="hasRole('ROLE_ADMIN')"> Administradores!</div>
<div sec:authorize="hasRole('ROLE_USER')"> Usuarios!</div>
	
	
	<div th:if="${!editando}">
		<center><h3>ESTUDIANTES</h3></center><br />
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
				<th scope="col"></th>
					<th scope="col">CODIGO</th>
					<th scope="col">NOMBRE</th>
					<th scope="col">PRIMER APELLIDO</th>
					<th scope="col">SEGUNDO APELLIDO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="estudiante: ${estudiantes}">
				<td>
				<form th:action="@{|/estudiante/editar/${estudiante.id}|}">
					<input type="submit" value="Editar" class="btn btn-info">
				</form>
				<form th:action="@{/estudiante/borrar}" method="post" onsubmit="return confirm('Esta seguro de eliminar el estudiante?');">
					<input type="hidden" th:value="${estudiante.id}" name="id">
					<input type="submit" value="Borrar" class="btn btn-danger">
				</form>
				</td>
					<td th:text="${estudiante.codigo}"></td>
					<td th:text="${estudiante.nombre}"></td>
					<td th:text="${estudiante.primerApellido}"></td>
					<td th:text="${estudiante.segundoApellido}"></td>
				</tr>
			</tbody>
		</table>
		<form th:action="@{/estudiante/agregar}" method="get">
			<button type="submit" class="btn btn-primary">Agregar</button>
		</form>		
		
	</div>
	<div th:if="${editando}">
		<!-- 		Formulario de creacion/modificacion -->
		<div class="container py-3">
			<div class="row">
				<div class="mx-auto col-sm-6">
					<div class="card">
						<div class="card bg-dark text-white">
							<div class="card-header">
								<center>
									<h4 class="mb-0">CREACION/MODIFICACION DE ESTUDIANTE</h4>
								</center>
							</div>
						</div>
						<div class="card-body">

							<form th:object="${estudiante}"
								th:action="@{/estudiante/guardar}" method="post">
								<input type="hidden" th:field="*{id}" />
								<div class="form-group">
									<label for="codigo">CODIGO:</label> <input class="form-control"
										id="codigo" placeholder="Ingrese Codigo" th:field="*{codigo}" />
								</div>
								<div class="form-group">
									<label for="nombre">NOMBRE:</label> <input class="form-control"
										id="nombre" placeholder="Ingrese Nombre" th:field="*{nombre}" />
								</div>
								<div class="form-group">
									<label for="primerApellido">PRIMER APELLIDO:</label> <input
										class="form-control" id="primerApellido"
										placeholder="Ingrese Primer Apellido"
										th:field="*{primerApellido}" />
								</div>
								<div class="form-group">
									<label for="segundoApellido">SEGUNDO APELLIDO:</label> <input
										class="form-control" id="segundoApellido"
										placeholder="Ingrese Segundo Apellido"
										th:field="*{segundoApellido}" />
								</div>
								<button type="submit" class="btn btn-primary">Guardar</button>
								<button type="submit" class="btn btn-secondary" name="Cancelar">Cancelar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>