<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml"  -->
<!--                                xmlns:th="http://www.thymeleaf.org"> -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" /> -->
</head>
<body>
<!-- 	<form th:action="@{/login}" method="post"> -->
<!-- 		<div th:if="${param.error}">Credenciales incorrectas.</div> -->
<!--       <div th:if="${param.logout}"> Acaba de cerrar sesion.</div> -->
<!-- 		Usuario:<input type="text" name="user" /><br /> -->
<!-- 		Pass:<input type="password" name="password" /><br /> -->
<!-- 		<input type="submit" value="Login" /> -->
<!-- 	</form> -->
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">            
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST" th:action="@{/login}">
<!--                                     <div class="alert alert-warning" role="alert" th:if="${param.error}">Credenciales incorrectas</div> -->
<!--                                     <div th:if="${param.logout}">Usted ha cerrado sesión.</div> -->
                                <div class="form-group">
                                    <label for="user">Username</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="user" id="uname1" required="">
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password" name="password">
                                    <div class="invalid-feedback">Enter your password too!</div>
                                </div> 
                                    <div class="alert alert-warning" role="alert" th:if="${param.error}">Credenciales incorrectas</div>
                                    <div class="alert alert-info" role="alert" th:if="${param.logout}">Usted ha cerrado sesión.</div>                          
                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>        
    </div>    
</div>

</body>
</html>
